footer{
    margin-bottom: 30px;
    div.footer-elements{
        // @include display-element-flex(null,space-between);
        display: block;
        @include container(96%,2%);
        .logo{
            width: 100%;
            div.logo-image{
                width: 50px;
                height: 50px;
                border-radius: 5%;
                img{
                    width: 100%;
                    height: 100%;
                    border-radius:5%;
                }
            }
            p.slogan{
                @include text-style(16px,400, $ash);
                padding: 25px 0px 0px 0px;
                width: 100%;
            }
        }
        ul.footer-links{
            // @include display-element-flex(null,null);
            display: block;
            // @include container(60%,5%);
            width: 100%;
            li{
               @include container(98%,1%);
                h1.footer-heading{
                     @include text-style(20px,600,black);
                     margin: 10px 0px 20px 0px;
                     border-bottom: 1px solid $green;
                     padding: 3px;
                     width: 100px;
                }
                ul.sub-ul{
                    li.links{
                        margin: 10px 0px 10px 0px;
                        a{
                             @include text-style(14px,400, $ash);
                             text-decoration: none;
                             &:hover{
                                text-decoration: underline;
                                text-decoration-color: $green;
                             }
                        }
                    }
                }
            }
        }
        div.social-media{
            width: 100%;
            ul.media-list{
                @include display-element-flex(center,null);
                gap: 25px;
                li{
                    a{
                        @include text-style(27px,400, $ash);
                        text-decoration:none;
                    }
                }
            }
            h1{
                @include text-style(14px,400, $ash);
                padding: 10px 0px 0px 0px;
                // text-align: center;
                width: 100%;
            }
            .playstores{
                @include display-element-flex(center,null);
                .play-store{
                    width: 100px;
                    height: 100px;
                    border-radius: 5%;
                    a img{
                        width: 100%;
                        height: 100%;
                        border-radius: 5%;
                    }
                }
            }
        }

    }
    p.copyright{
        text-align: center;
        @include text-style(13px,400, $ash);
    }
}