section.form_container{
    margin: 60px 0px 0px 0px;
    @include container(70%,15%);
    @include display-element-flex(center,null);
    div.green_sign{
        @include green-side-of-form;
        border-top-left-radius:20px;
        border-bottom-left-radius:20px;
    }
    div.green_sign_sign_in{
        @include green-side-of-form;
        border-top-right-radius:20px;
        border-bottom-right-radius:20px;
    }
    div.white_sign{
        @include white-side-of-form;
        border-top-right-radius:20px;
        border-bottom-right-radius:20px;
    }
    div.white_sign_sign_in{
        @include white-side-of-form;
        border-top-left-radius:20px;
        border-bottom-left-radius:20px;
    }
}