header{
    section.header_logo{
        nav.logo_nav{
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #99C2EC;
            /* position: fixed; */
            .div_logo{
                display: flex;
                align-items: center;
                .election_description{
                    margin: 0px 0px 0px 20px;
                    font-size: 20px;
                 }
            }
            .div_login{
                margin: 0px 20px 0px 0px;
                border-left: 2px solid gray;
                height: 118px;
            }
        }
        .evs{
            span{
                font-size: 60px;
                color: navy;
                margin: 40px 0px 0px 130px ;
                background-color: aliceblue;
               
            }
        }
    }
}
main{
    section.main_section{
        .form_div{
            label{
                
                margin: 40px 0px 0px 60px;
            }
            width: 60%;
            background-color:aliceblue;
            margin: 100px 0px 0px 20%;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            form{
                p{
                    input[type="text"],input[type="password"],input[type="email"]{
                        border:aliceblue;
                        border-bottom: 1px solid lightgray;
                        background-color:aliceblue;
                        outline: none;
                        width:75%;
                        margin: 40px 0px 0px 60px;
                        font-size: 20px;
                        &:focus, &:hover{
                            border-bottom: 1px solid navy;
                        }
                    }
                }
                button.signup_btn{
                    position: relative;
                    top: 3px;
                    left: 390px;
                    background-color: rgb(32, 117, 177);
                    font-size: 25px;
                    color: aliceblue;
                    margin: 30px 0px 50px 0px;
                    padding: 10px;
                    border:rgb(32, 117, 177); ;
                    border-radius: 5px;
                    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.15);;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }
            }
        }
    }
}
/* ************************** end of general styles ************************ */
// .logo_nav{
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     background-color: #99C2EC;
//     /* position: fixed; */
// }



// .div_login a .login{
//     padding: 30px 8px 0px 24px;
// }
// .evs
/* ****************************end of header styles**************************** */
// .main_section{
//     /* background-color:rgb(191, 209, 216); */
//     background-color: transparent;
// }

// input[type="text"],input[type="password"],input[type="email"]{
//     border:transparent;
//     border-bottom: 1px solid lightgray;
//     outline: none;
//     width:75%;
//     margin: 40px 0px 0px 60px;
//     font-size: 20px;
// }
// input[type="email"]:hover, input[type="email"]:focus, 
// input[type="text"]:hover, input[type="text"]:focus,
// input[type="password"]:hover, input[type="password"]:focus 
// {
//     border-bottom: 1px solid navy;
// }
// .signup_label, .signup_warning, .gender_title{
//     margin: 20px 0px 0px 60px;
// }
// .signup_btn{
//     position: relative;
//     top: 3px;
//     left: 390px;
//     background-color: rgb(32, 117, 177);
//     font-size: 25px;
//     color: aliceblue;
//     margin: 30px 0px 50px 0px;
//     padding: 10px;
//     border:rgb(32, 117, 177); ;
//     border-radius: 5px;
//     box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.15);;
//     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
// }
// footer{
//     background-color: aliceblue;
// }