* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

header div.bus_logo {
  width: 30%;
  margin-left: 35%;
  margin-top: 10px;
}
header div.bus_logo img {
  width: 50%;
  height: 50%;
}

main section.main_section .form_div {
  width: 60%;
  background-color: aliceblue;
  margin-top: 20px;
  margin-left: 20%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
main section.main_section .form_div label.signup_label {
  margin-top: 40px;
  text-align: center;
}
main section.main_section .form_div p.signup_warning {
  width: 90%;
  margin-left: 5%;
}
main section.main_section .form_div p.signup_warning small {
  text-align: center;
}
main section.main_section .form_div form {
  width: 95%;
  margin-left: 2.5%;
}
main section.main_section .form_div form p input[type=text], main section.main_section .form_div form p input[type=password], main section.main_section .form_div form p input[type=email] {
  border: aliceblue;
  border-bottom: 1px solid lightgray;
  background-color: aliceblue;
  outline: none;
  width: 75%;
  margin: 30px 0px 0px 12%;
  font-size: 20px;
}
main section.main_section .form_div form p input[type=text]:focus, main section.main_section .form_div form p input[type=text]:hover, main section.main_section .form_div form p input[type=password]:focus, main section.main_section .form_div form p input[type=password]:hover, main section.main_section .form_div form p input[type=email]:focus, main section.main_section .form_div form p input[type=email]:hover {
  border-bottom: 1px solid navy;
}
main section.main_section .form_div form p input[type=checkbox] {
  margin: 20px 0px 0px 12%;
}
main section.main_section .form_div form button.signup_btn {
  margin-left: 42.5%;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: rgb(32, 117, 177);
  font-size: 25px;
  color: aliceblue;
  padding: 6px;
  border: rgb(32, 117, 177);
  border-radius: 5px;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.15);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
main section.main_section .form_div div.signup_container {
  padding: 1px;
  display: flex;
  justify-content: space-between;
}
main section.main_section .form_div div.signup_container button {
  background-color: transparent;
  padding: 10px;
  border: rgb(32, 117, 177);
  border-radius: 5px;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.15);
  background-color: rgb(32, 117, 177);
}
main section.main_section .form_div div.signup_container button a {
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: aliceblue;
  font-size: 16px;
}
main section.main_section .form_div div.signin_container {
  padding: 1px;
  float: right;
}
main section.main_section .form_div div.signin_container button {
  background-color: transparent;
  padding: 10px;
  border: rgb(32, 117, 177);
  border-radius: 5px;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.15);
  background-color: rgb(32, 117, 177);
}
main section.main_section .form_div div.signin_container button a {
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: aliceblue;
  font-size: 16px;
}
main section.main_section .form_div .reset_pwd {
  padding: 0px 0px 15px 20px;
}
main section.main_section .form_div .reset_pwd a {
  text-decoration: none;
  font-size: 16px;
}

@media (max-width: 750px) {
  .form_div {
    width: 90% !important;
    margin-left: 5% !important;
  }
  .form_div label.signup_label {
    width: 20%;
    margin-left: 30%;
    font-size: 16px;
  }
  .form_div p.signup_warning {
    width: 90%;
    margin-left: 5%;
  }
  .form_div p.signup_warning small {
    text-align: center;
  }
  .form_div form p input[type=text], .form_div form p input[type=password], .form_div form p input[type=email] {
    border: aliceblue;
    border-bottom: 1px solid lightgray;
    background-color: aliceblue;
    outline: none;
    width: 100% !important;
    margin-left: 0% !important;
    margin-top: 30px;
    font-size: 20px;
  }
  .form_div form p input[type=text]:focus, .form_div form p input[type=text]:hover, .form_div form p input[type=password]:focus, .form_div form p input[type=password]:hover, .form_div form p input[type=email]:focus, .form_div form p input[type=email]:hover {
    border-bottom: 1px solid navy;
  }
  .form_div form p input[type=checkbox] {
    margin-left: 0% !important;
    margin-top: 20px;
  }
  .form_div form button.signup_btn {
    margin-left: 5%;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    background-color: rgb(32, 117, 177);
    font-size: 14px !important;
    color: aliceblue;
    padding: 2px !important;
    border: rgb(32, 117, 177);
    border-radius: 5px;
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.15);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .form_div div.signin_container {
    padding: 1px;
  }
  .form_div div.signin_container button {
    background-color: transparent;
    padding: 10px;
    border: rgb(32, 117, 177);
    border-radius: 5px;
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.15);
    background-color: rgb(32, 117, 177);
  }
  .form_div div.signin_container button a {
    text-decoration: none;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    font-size: 16px;
  }
  .form_div div.signup_container {
    padding: 1px;
  }
  .form_div div.signup_container button {
    background-color: transparent;
    padding: 2px !important;
    border: rgb(32, 117, 177);
    border-radius: 5px;
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.15);
    background-color: rgb(32, 117, 177);
  }
  .form_div div.signup_container button span {
    font-size: 13px !important;
  }
  .form_div div.signup_container button a {
    text-decoration: none;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    font-size: 13px !important;
  }
  .form_div .reset_pwd {
    padding: 0px 0px 15px 20px;
  }
  .form_div .reset_pwd a {
    text-decoration: none;
    font-size: 12px !important;
  }
}/*# sourceMappingURL=style.css.map */