@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap'); 
@import './settings/variables';
@import './settings/mixins';
@import './settings/reset';
@import './desktop/header';
@import './desktop/main';
@import './desktop/footer';
@import './desktop/sign-up';

@media (max-width:1200px){
    @import './desktop/header';
    @import './desktop/main';
    @import './desktop/footer';
    @import './desktop/sign-up';
}

@media (max-width:900px){
    @import './tablet/header';
    @import './tablet/main';
    @import './tablet/footer';
    @import './tablet/sign-up';
}

@media (max-width:600px){
    @import './mobile/header';
    @import './mobile/main';
    @import './mobile/footer';
    @import './mobile/sign-up';
}