body{
background-color: rgb(255, 247, 247);
}
header{
    // @include container(80%,10%);
    // background-color: green;
    div.navigation{
        z-index: 10;
        width: 100%;
        position: fixed;
        margin-top: 0px;
        div.logo-nav-user{
            background-color: $green;
            @include display-element-flex(center,space-between);
        //    @include container(95%,2.5%);
            div.logo{
                width: 50px;
                height: 50px;
                border-radius: 5%;
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 5%;
                }
            }
            div.nav-user-lang{
                margin: 0px 60px 0px 0px;
                @include display-element-flex(center,space-between);
                nav{
                    ul{
                        @include display-element-flex(center,space-between);
                        li{
                            margin: 0px 40px 0px 0px;
                            a{
                                @include text-style(16px,400,white);
                                text-decoration: none;
                            }
                        }
                    }
                }
                .user{
                    button{
                    @include input-and-button(none);
                    padding: 10px;
                    margin: 0px 0px 0px 0px;
                    border-radius: 10px;
                        a{
                            @include text-style(16px,400,white);
                            text-decoration: none;
                        }
                    }
                }
                div.language-dropdown{
                    margin-left: 20px;
                    position: relative;
                    &:hover {
                        .absolute{
                            display: block;
                        }
                        span i{
                            transform: rotate(180deg);
                            transition: 0.2s;
                        }
                    }

                    .auto-change{
                        @include display-element-flex(center,space-between);
                        @include text-style(16px,400,white);
                        text-decoration: none;
                        span{
                            margin-left: 10px;
                        }
                    }   
                     .absolute{
                        position: absolute;
                        background-color: white;
                        border-radius: 10px;
                        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.356);
                        display: none;
                        padding: 30px;
                        button{
                            @include text-style(16px,400,null);
                            @include input-and-button(none);
                            padding: 10px;
                        }
                    }
                }
            }
        }
    }
    div.banner-section{
        @include container(80%,10%);
        @include display-element-flex(null,space-between);
        padding: 150px 0px 0px 0px;
        .left-side{
            width: 50%;
            h3.best-destinations{
                @include text-style(16px,400, $ash);
            }
            h1.banner-text{
                @include text-style(50px,800,rgb(2, 2, 2));
                span{
                    color: $green;
                }

            }
            p.banner-description{
                @include text-style(18px,400, $ash);
            }
            div.findout{
                button{
                    @include input-and-button(none);
                    background-color: $green;
                    border-radius: 50px;
                    margin: 20px 0px 0px 40px;
                    padding: 10px 20px 10px 20px;
                    a{
                        @include text-style(14px,400,white);
                        text-decoration: none;
                    }
                }
            }
        }
        .right-side{
            width: 50%;
            div.image{
                // background-image: url('../../images/header.jpg');
                // background-size: contain;
                width: 100%;
                max-height: 70%;
                border-radius: 20px;
                img{
                    height: 100%;
                    width: 100%;
                    border-radius: 10px;
                }
            }
        }
    }
}